.cartItem {
  display: flex;
  margin-bottom: 10px;
}

.cartItemImage {
  width: 75px;
}

.cartItemDetails {
  display: flex;
  flex-direction: column;
  margin: -7px 0 0 15px;
  width: 100%;
}

.cartItemDetails, .cartItemDetails .title {
  font-family: nasalization-light;
  font-size: 18px;
}
