@font-face {
  font-family: 'nasalization-book';
  src: url('fonts/nasalization-bk-webfont.woff2') format('woff2'),
       url('fonts/nasalization-bk-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nasalization-light';
  src: url('fonts/nasalization-lt-webfont.woff2') format('woff2'),
       url('fonts/nasalization-lt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  background-color: #282c34;  
  padding:50px 100px;
  background-color: #282c34;  
  padding:50px 100px;
  font-family: nasalization-book, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin:0;
  padding:0;
  list-style: none;
}

input {
  font-size: 18px;
  padding: 5px;
  margin: 10px;
}

a {
  color: #4098AF;
}

.sectionHeader {
  background-color:#353941;
  text-align: center;
  font-size: 32px;
  padding-bottom: 10px;
}

.button {
  display: block;
  text-decoration: none;
  text-align: center;
  padding:15px;
  font-size:20px;
  background-color: #4098AF;
  border: 0;
  color: white;
  font-weight:bold;
  cursor: pointer;
  border-radius: 10px;
  background-image: linear-gradient(to right, #44B1FF 0%, #8B29FF 100%)
}

.button:hover {
  background-image: linear-gradient(to right, #44B1FF 0%, #5773FF 100%)
}

.linkButton {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #4098AF;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
}

.linkButton:hover {
  color: #5AB2C9
}


/* Outpost Styles */
.mainLeft {
  flex-grow: 1;
  margin-right: 10px;
}

.rightSidebar {
  width:360px;
  margin-left: 20px;
}

/* Product List Styles */
.products {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* Product Styles */
.productImage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.productImage img {
  width: 100%;
  background-color: #1D1E25;
} 

.productDetails, .productDetails .title {
  font-family: nasalization-light;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.productImage .addToCart {
  display: none;
}

.productImage:hover img {
  opacity: .2;
}

.productImage:hover .addToCart {
  display: block;
  position: absolute;
  z-index: 1;
}


.inventory {
  display: block;
  position: absolute;
  padding: 10px;
  right: 10px;
  top: 10px;
  background-color: #5D38C4;
  border-radius: 30px;
  font-size: 14px;
}
